{
  "Profiles": [
    {
      "Name": "Regular",
      "Guid": "Regular",
      "Session Close Undo Timeout": "30",
      "Scrollback Lines": "9999",
      "Set Local Environment Vars": "0",
      "Cursor Type": "1",
      "Blur" : true,
      "Custom Directory" : "Advanced",
      "Minimum Contrast" : 0.3212767009493671,
      "Normal Font" : "FiraCode-Retina 14",
      "Columns" : 166,
      "Rows" : 44,
      "Visual Bell" : 1,
      "Silence Bell" : 1,
      "Custom Directory" : "Recycle",
      "ASCII Ligatures" : true,
      "Transparency" : 0.09692060596446701
    }
  ]
}
